div.css-keje6w.e1tzin5v2 {
    
    border: 1px solid rgba(250, 250, 250, 0.2);
    padding: 5% 5% 5% 10%;
    border-radius: 5px;
    left: 0px;
    width: 100%;
}

div.css-12ttj6m.epcbefy1{
    background-color: #fafafa;
    border: 1px solid #CCCCCC;
    padding: 5% 5% 5% 10%;
    border-radius: 5px;
}

div.css-1q1n0ol.egzxvld0{
    visibility: hidden;
}

div.css-1a32fsj.e19lei0e0 {
    margin-top: 0px;
    
}
div.css-1kyxreq.etr89bj2{
    width: 200px !important;
}
.css-6kekos{
    width:100%;
}
.css-1uqmt5j{
    width:100%;
}
.css-16u8z0w{
    width:100%;
    margin-bottom: 20px;
}
.css-1prua9e{
    width:100%;
    margin-bottom: 20px;
}

div.css-1fcdlhc.e1s6o5jp0{
    margin-top: -10px;
}

.css-1vzt17l{
    gap: 0rem !important;
    margin-left: -1.3rem !important;
}
.css-swapoz.e16nr0p33{
    color: rgb(54, 54, 54);
    font-size: large;
}


.css-9s5bis {
background-color: #ebebeb;
}
.css-1rs6os {
background-color: #4e4e4e;
}
.st-ga{
    font-weight: 600;
}
.st-gp{
    font-weight: 600;
}
.st-gi {
    -webkit-text-fill-color: rgb(0 0 0);
}

.css-j0nf8i{
    color: rgb(49 51 63) !important;
}