.css-12oz5g7{
    max-width: 1320px !important;
    padding: 2rem 1rem 10rem !important;
}

.css-10trblm {
    text-align: center;
}
.css-1fv8s86 p{
font-size: large;
}

h1{
    padding: 1.25rem 0px 1.2rem !important;
}
div.css-keje6w.e1tzin5v2 {
    
    border: 1px solid #CCCCCC;
    padding: 5% 5% 5% 10%;
    border-radius: 5px;
    left: 0px;
    width: 100%;
  
}

div.css-12ttj6m.epcbefy1{
    background-color: #fafafa;
    border: 1px solid #CCCCCC;
    padding: 5% 5% 5% 10%;
    border-radius: 5px;
}

div.css-1q1n0ol.egzxvld0{
    visibility: hidden;
}

div.css-1a32fsj.e19lei0e0 {
    margin-top: 0px;
    
}


.css-5uatcg.edgvbvh10{
    width:100%;
}
.css-z09lfk.edgvbvh10{
    width:100%;
}
.css-1x8cf1d.edgvbvh10{
    width:100%;
}
.css-629wbf.edgvbvh10{
    width:100%;
}
.css-6kekos{
    width:100%;
}
.css-1uqmt5j{
    width:100%;
    
}

.css-1o1rr3x{
    width:38px;
}

.css-16u8z0w{
    width:100%;
    margin-bottom: 20px;
}
.css-1prua9e{
    width:100%;
    margin-bottom: 20px;
}

div.css-1fcdlhc.e1s6o5jp0{
    margin-top: -10px;
}

.css-1vzt17l{
    gap: 0rem !important;
    margin-left: -1.3rem !important;
}
.css-swapoz.e16nr0p33{
    color: rgb(54, 54, 54);
    font-size: large;
}


.css-9s5bis {
background-color: #ebebeb;
}
.css-1rs6os {
background-color: #4e4e4e;
}
.st-ga{
    font-weight: 600;
}
.st-gp{
    font-weight: 600;
}


.css-j0nf8i{
    color: rgb(49 51 63) !important;
}

.css-729dqf{
    color: rgb(255 255 255)!important;
}

.st-eq {
    -webkit-text-fill-color: inherit;
    color: inherit;
}
.st-eo {
    color:inherit;
    -webkit-text-fill-color: inherit;
}
.st-jn {
    color:inherit;
    -webkit-text-fill-color: inherit;
}

.st-jm {
    color:inherit;
    -webkit-text-fill-color: inherit;
}
.st-je {
    color:inherit;
    -webkit-text-fill-color: inherit;
}

.st-jd {
    color:inherit;
    -webkit-text-fill-color: inherit;
}

.st-jh {
    color:inherit;
    -webkit-text-fill-color: inherit;
}

.st-jg {
    color:inherit;
    -webkit-text-fill-color: inherit;
}

.st-eo {
    color:inherit;
    -webkit-text-fill-color: inherit;
}

.st-jj {
    -webkit-text-fill-color: inherit;
}

.st-ji {
    color:inherit;
    -webkit-text-fill-color: inherit;
}

.st-dx {
    color:inherit;
    -webkit-text-fill-color: inherit;
}

.st-dv {
    color:inherit;
    -webkit-text-fill-color: inherit;
}

.st-js {
    color:inherit;
    -webkit-text-fill-color: inherit;
}

.st-jr {
    color:inherit;
    -webkit-text-fill-color: inherit;
}
.st-jl {
    color:inherit;
    -webkit-text-fill-color: inherit;
}
.st-jo {
    color:inherit;
    -webkit-text-fill-color: inherit;
}

.st-j7 {
    color:inherit;
    -webkit-text-fill-color: inherit;
}

.st-j6 {
    color:inherit;
    -webkit-text-fill-color: inherit;
}

.st-i1 {
    color:inherit;
    -webkit-text-fill-color: inherit;
}


.st-i0 {
    color:inherit;
    -webkit-text-fill-color: inherit;

}

.st-jc {
    color:inherit;
    -webkit-text-fill-color: inherit;
}

